.navbar{
    align-content: top;
    font-style: italic;
}
.text-left{
    text-align: left;
}
.bold-12{
    
    font-size: 150%;
    font-weight:bolder;
}
.text{
    font-size: small
}
.link{
    color:red
}
.price{
    font-weight: bolder;
}
.m{
    margin-top: 0%;
}
.mb{
    margin-bottom: 0%;
}
.square{
    height: 40px;
    width: 40px;
    border-spacing: 50px;
    margin-right: 5px;
}
.count{
    display: flex;
    
}